# JWT
jwt.secret=<jouw-SecureStringGenerator-secret-key>

# Applicatie naam
spring.application.name=backend-service

# Database configuratie
spring.sql.init.platform=postgres
spring.datasource.url=jdbc:postgresql://<host-naam>:<poort-nummer>/<database-naam>
spring.datasource.username=<gebruikersnaam-pgAdmin>
spring.datasource.password=<wachtwoord-database>
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA configuratie
spring.jpa.database=postgresql
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=create

spring.sql.init.mode=always
spring.jpa.defer-datasource-initialization=true